@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";
@import "react-vertical-timeline-component/style.min.css";
@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/free-mode";
@import "swiper/css/thumbs";
@import "swiper/css/effect-creative";

@font-face {
    font-family: "SF Pro Display";
    src: url("../../public/font/SFProDisplay-Regular.ttf") format("opentype");
}

* {
    font-family: "SF Pro Display", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply sm:text-lg bg-[#00043c] text-white;
}

p {
    @apply text-xl;
}

.word-wrapper {
    display: inline-block;
}

.text-stroke {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    -webkit-text-stroke: 1px #2154ec;
    -webkit-text-fill-color: transparent;
}

.logo {
    @apply max-w-none h-12;
}

.container {
    @apply mx-auto px-5;
}

.sticky {
    @apply fixed bg-black/50 shadow backdrop-blur-xl;
}

.header-link {
    @apply block px-4 py-2 opacity-80 duration-300;
}

.header-link.active,
.header-link:hover {
    @apply opacity-100;
}

.collapse.show {
    @apply block;
}

.toggler-icon {
    @apply block bg-white relative duration-300;
    height: 2px;
    width: 30px;
    margin: 6px 0;
}

.active > .toggler-icon:nth-child(1) {
    @apply transform rotate-45;
    top: 7px;
}

.active > .toggler-icon:nth-child(2) {
    @apply opacity-0;
}

.active > .toggler-icon:nth-child(3) {
    top: -8px;
    transform: rotate(135deg);
}

.shadow-box {
    @apply py-20 my-20 rounded-lg shadow-[0_0_70px_#2154EC];
}

.card-body {
    @apply bg-[#ffffff14] text-left;
}

.btn-outline {
    @apply text-inherit;
    color: white !important;
}

.section-heading {
    @apply text-2xl sm:text-4xl font-bold tracking-wide uppercase mb-10 md:mb-20 text-center;
}

.opacity-image {
    @apply transition-opacity duration-300 opacity-70 hover:opacity-100;
}

.home-project {
    @apply absolute duration-300 hover:scale-105 hover:z-10;
}

.footer-big-links {
    @apply mb-3 text-xl font-medium uppercase;
}

.footer-links {
    @apply leading-9 opacity-60 duration-300;
}

.footer-links:hover {
    @apply opacity-100;
}

.footer-icon {
    @apply flex justify-center items-center w-12 h-12 border rounded-full text-sm duration-300;
}

.footer-icon:hover {
    @apply bg-primary border-primary;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: "<percentage>";
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
}

:root {
    --d: 3500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c1: rgba(33, 84, 236, 1);
    --c2: rgba(168, 239, 255, 0.1);
}

.conic {
    @apply bg-[#ffffff14];
    border: 1px solid;
    border-radius: px;
    border-image: conic-gradient(
            from var(--angle),
            var(--c2),
            var(--c1) 0.1turn,
            var(--c1) 0.15turn,
            var(--c2) 0.25turn
        )
        30;
    animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

@keyframes borderRadial {
    20% {
        --gradX: 100%;
        --gradY: 50%;
    }
    40% {
        --gradX: 100%;
        --gradY: 100%;
    }
    60% {
        --gradX: 50%;
        --gradY: 100%;
    }
    80% {
        --gradX: 0%;
        --gradY: 50%;
    }
    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}

.carousel .thumb {
    border: none;
    @apply brightness-50;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border: none;
    @apply brightness-100;
}

.swiper-button {
    position: absolute;
    top: calc(50% - 20px);
    z-index: 10;
    cursor: pointer;
}

.swiper-button img {
    width: 40px;
    height: 40px;
}

.image-swiper-button-prev {
    left: 10px;
}

.image-swiper-button-next {
    right: 10px;
}

.swiper-button-disabled {
    opacity: 0.5;
}

.box-1 {
    @apply py-[20px] bg-transparent text-center;
}

.box-2 {
    @apply py-[20px] bg-[#ffffff14] text-center;
}
